body {
}

.header{
    margin-left:50px;
    padding-left:50px;
}
.show_followers {
    height: 800px;

    overflow:auto !important;
}
.center {
    margin: auto;
    margin-top:50px;
    width: 80%;
    border: 3px solid;
    background-color: lightcyan;
    height: 800px;
    display:flex;
}

.img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#TextBox1 {
    width:800px;
    height:250px;
    padding:0;
    border:0;
}